
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../css/standard.css">
<link href="../../webjars/bootstrap/3.3.7\/css/bootstrap.min.css" rel="stylesheet">
<div th:fragment="navbar">
<nav class="navbar navbar-default navstyle">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <a th:href="@{/}">
                <span class="glyphicon glyphicon-home btn-lg text-default" style="align-content: center"></span></a>
            </a>
        </div>
    </div>
</nav>
</div>
